{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}
  <div>
    <h1>About Raison D'être</h1>
    <hr />
  </div>
  <section>
    <p>
      Raison D'etre means a passionate aspiration or ambition and can be a synonym for bucket list.  This is an app for everyone who is looking for somewhere to save all spots in their city that they want to visit. 
    </p>
      <h3>How to use: </h3>
    <ul>
      <li> You need to sign-up or login </li> 
      <li>You can check your list of places by clicking all places. </li> 
      <li>If you want to view all the details about a specific place you can do so by just clicking on the place.</li>
      <li>If you want to add a new place you can click on add a place and fill the form  </li> 
      <li>If you want to edit, delete a place you can do so by going to the detail page.  </li> 
      <li>If you want to upload or change an image you can do so by going to the detail page </li>
    </ul>
  </section>

{% endblock %}
