{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <link
    rel="shortcut icon"
    type="image/png"
    href=""
  > {% endcomment %}
  <script src="https://kit.fontawesome.com/4da7a940f0.js" crossorigin="anonymous"></script>
  <script defer src="{% static 'js/place-form.js' %}"></script>
  <title>Raison D'être</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
  <div class="container">
    <nav>
     <input type="checkbox" id="nav" class="hidden">
      <label for="nav" class="nav-btn">
            <i></i>
            <i></i>
            <i></i>
      </label>
      <div class="logo">
            <a href="{% url 'home' %}">Raison Dêtre </a>
      </div>
      <div class="nav-wrapper">
      <ul>
        {% if user.is_authenticated %}
      <li><a href="{% url 'places_index' %}">All Places</a></li>
      <li><a href="{% url 'places_create' %}">Add a Place</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
          {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign up</a></li>
        {% endif %}
        </ul>
      </div>
    </nav>
  </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>