main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

main > section {
  width: 100%;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-logo-container {
  display: none;
}

.logo-container {
  max-width: 375px;
}

.-container {
  width: 80%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 3px solid rgb(153, 111, 76);
  border-radius:6px ;
  box-shadow: rgb(153, 111, 76, 0.5) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px;
}

.login h1 {
  color: rgb(153, 111, 76);
  font-size: clamp(2.2rem, 3vw, 2.4rem);
  margin: 10px 0;
}

.login > p {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 14px 0 0px;
  color: rgb(153, 111, 76);
}

.login label {
  font-size: var(--font-reg);
  margin-bottom: 6px;
}

.login input{
  font-size: var(--font-l);
  padding: 2px 4px;
  border-radius: 6px;
}
input:-webkit-autofill {
    box-shadow: 0 0 0 9999px rgb(153, 111, 76, 0.3) inset;
}
input:focus {
  background-color:rgb(153, 111, 76, rgb(153, 111, 76, 0.5));
  color:darkgrey;
  outline: 2px solid rgb(153, 111, 76);  
}
input.visited {
  color: darkgrey;
  outline: 2px solid rgb(153, 111, 76);  
}
.login .btn {
  align-self: flex-end;
  margin-right: 0;
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  main {
    justify-content:space-evenly;
    margin: 0;
  }
  main > section {
    width: 50%;
  }
  img{
    height: 150%;
    width: 150%;
    margin: o;

    
  }


  .login {
    border: 5px solid rgb(153, 111, 76);
    padding: 20px;
    border-radius:6px ;
    box-shadow: rgb(255, 255, 255) 10px -10px 0px -3px, rgb(153, 111, 76, 0.5) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgba(148, 102, 65, 0.8) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px;;
    width: 100%;
  }
  .logo-container {
    max-width: 520px;
  }
}