
.place-container {
  padding: 35px 30px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  
}

.place-img {
  width: 85%;
  max-width: 350px;
}

.usr-img {
  width: 65%;
  border-radius: 10px;
  
}

.place-details {
  width: 98%;

  
}

.place-actions {
  margin-top: 20px;
}


.place-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.place-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.place-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.place-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}
.btn {
  font-size: var(--font-l);
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}
.submit {
  color:  rgba(153, 111, 76, 0.596);
  border-color:  rgba(153, 111, 76, 0.596);
}

.secondary {
  color: rgba(153, 111, 76, 0.596) ;
  border-color:  rgba(153, 111, 76, 0.596);
}

.warn {
  color:  rgba(153, 111, 76, 0.596);
  border-color:  rgba(153, 111, 76, 0.596);
}

.danger {
  color:  rgba(153, 111, 76, 0.596);
  border-color:  rgba(153, 111, 76, 0.596);
}

@media only screen and (min-width: 768px) {
  .place-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .place-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }

}
