{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/place-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="place-container">
  <div class="place-img">
    <img 
      src="{% static 'images/' %}" 
      alt=""
    >
  </div>
    <div class="place-details">
      <h2 class="card-title">{{ place.name }}</h2>
      <p>It starts {{ place.start_date}} and runs through{{ place.end_date}}</p>
      <p> it is located at {{ place.location }}</p>
      <p><small>{{ place.description }}</small></p>
  </div>
</section>

{% endblock %}