{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/place-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Places List</h1>
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
  <img src="{% static 'images/' %}" alt="" />
</section>

<section class="card-container">
  {% for place in places %}
    <div class="card" >
      <a href="{% url 'places_detail' place.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/' %}" 
            alt=""
          >
        </div>
        <h2 class="card-title">{{ place.name }}</h2>
          <p>It starts {{ place.start_date}} and runs through{{ place.end_date}}</p>
          <p> it is located at {{ place.location }}</p>
        <p><small>{{ place.description }}</small></p>
      </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}